@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:ital,wght@1,100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Michroma&family=Poppins:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Alfa+Slab+One&family=Michroma&family=Poppins:ital,wght@1,100&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root
{
    --clr: #222327;
}

body
{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 20vh;
    background: var(--clr);

}

.navigation
{
    position: sticky;
    width: 700px;
    height: 75px;
    background: linear-gradient(#F76E11, #FF9F45, #FFBC80);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul
{
    display: flex;
    width: 500px;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    z-index: 1;
}

.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}


.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 160px;
    font-size: 2.5em;
    text-align: justify;
    transition: 0.05s;
    color: var(--clr);
}


.navigation ul li.active a .icon
{
    transform: translateY(-35px);
}

.navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 300;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    transition: 0.5s;
    opacity: 0;
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}


.indicator
{
    position: absolute;
    top: -50%;
    width: 78px;
    height: 78px;
    background: #FFCC29;
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;


}

.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-right-radius: 20px;
    

}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    width: 30px;
    height: 30px;
    background: transparent;
    border-top-left-radius: 20px;
    

}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(83px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(84px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(84px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(84px * 3));
}

.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(84px * 4));
}

.navigation ul li:nth-child(6).active ~ .indicator
{
    transform: translateX(calc(83.5px * 5));
}

.navigation ul li:nth-child(7).active ~ .indicator
{
    transform: translateX(calc(83.5px * 6));
}

.navigation ul li:nth-child(8).active ~ .indicator
{
    transform: translateX(calc(83.5px * 7));
}


.container h1
{
    position: absolute;
    top: 25px;
    left: 100px;
    font-size: 90px;
    color: #FFCC29;
    font-family: 'Aboreto', sans-serif;
    

}

.container p
{
    position: absolute;
    top: 170px;
    left: 55px;
    font-size: 30px;
    color: #fff;
    

}

#yazı2 p
{
    
    position: absolute;
    top: 220px;
    left: 55px;
    font-size: 30px;
    color: #fff;

} 
#yazı3 p
{
    
    position: absolute;
    top: 270px;
    left: 55px;
    font-size: 30px;
    color: #fff;

} 

#yazı11 p
{
    
    position: absolute;
    top: 150px;
    left: 55px;
    font-size: 23px;
    color: #fff;

} 

#yazı12 p
{
    
    position: absolute;
    top: 250px;
    left: 55px;
    font-size: 23px;
    color: #fff;

} 
#yazı13 p
{
    
    position: absolute;
    top: 350px;
    left: 55px;
    font-size: 23px;
    color: #fff;

} 
#yazı14 p
{
    
    position: absolute;
    top: 450px;
    left: 55px;
    font-size: 23px;
    color: #fff;

} 
#yazı15 p
{
    
    position: absolute;
    top: 550px;
    left: 55px;
    font-size: 23px;
    color: #fff;

} 

#yazı26 p
{
    
    position: absolute;
    top: 150px;
    left: 55px;
    font-size: 36px;
    color: #fff;

} 
.container img
{
    position: absolute;
    width: 45%;
    justify-content: center;
    top: 140px;
    left: 840px;
    border: 2.5px solid #FFBC80;

}

.container #btn1
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 250px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11);

    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
   
    border: transparent;
}

.container #btn2
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 330px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn3
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 410px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11);
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    border: transparent;
}

.container #btn4
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 490px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn5
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 350px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn6
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 430px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn10
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 270px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn11
{
    position: absolute;
    width: 800px;
    height: 60px;
    top: 350px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn20
{
    position: absolute;
    width: 800px;
    height: 45px;
    top: 220px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn21
{
    position: absolute;
    width: 800px;
    height: 45px;
    top: 280px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn22
{
    position: absolute;
    width: 800px;
    height: 45px;
    top: 340px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn23
{
    position: absolute;
    width: 800px;
    height: 45px;
    top: 400px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn24
{
    position: absolute;
    width: 800px;
    height: 45px;
    top: 460px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    color: var(--clr);
    
    border: transparent;
}

.container #btn25
{
    position: absolute;
    width: 800px;
    height: 45px;
    top: 520px;
    left: 20px;
    background: linear-gradient(to left, #F76E11, #FF9F45,#FF9F45,#F76E11 );
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    color: var(--clr);
    
    border: transparent;
}

#img2 img
{
    position: absolute;
    width: 36%;
    justify-content: center;
    top: 140px;
    left: 970px;
    border: 2.5px solid #FFBC80;

}

#img3 img
{
    position: absolute;
    width: 678px;
    height: 435px;
    justify-content: center;
    top: 130px;
    left: 850px;
    border: 2.5px solid #FFBC80;

}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 140px;
    background: linear-gradient(#FFCC29, #ee943f);
    text-align: center;
   
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
   
    font-weight: 500;
  
    
    
  }

  .footer h3
  {
    color: #000;
    text-align: center;
   
    font-size: 50px;
    font-family: 'Aboreto', sans-serif;
   
    font-weight: 500;
  }



  .footer h5{
    color: #000;
    text-align: center;
   
    font-size: 25px;
    font-family: 'Alfa Slab One', cursive;
  
   
    font-weight: 500;
  

  }

  .footer img{
  
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

